*body {
    padding: 0;
    box-sizing: border-box;

   
  }

  /*PORTADA*/

  
  @media (max-width: 730px) {
.portada{
  width: 100%;
}
 
.parrafo1{
 width: 80%;
 display: block;
  margin: 0 auto;
  margin-top: -180%;
}
  .cuenta-regresiva {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1em;
    padding: 0.8em;
    margin-top: 10%;
}
.cr-time > span {
    font-size: 21px;
    color: #486055;
    font-weight: 500;

    
}
.cr-desc {
    color: #676767;
    font-family: "Alegreya", serif; 
    font-size: 17px;
  
}
.cr-block {
    background: #cbcbcb2e;
    border-radius: 5px;
    padding: 0.1em 0.5em;
    background-size: 80%;
      background-size: 220%;
  background-image: url(./imagenes/brillo.gif);
    
}

  


  .h5{
  font-size: 30px;
  text-align: center;
  font-family: 'Dancing Script', cursive;  

  
  }
  .audio{
    width: 35%;
    height: 20px;
    margin-left: 32%;
    background-color:  #ffffff;
    color: #646464bd;
    margin-top: -15%;
    
}
.fraseinicio{
  background-color: #ecddce; /* tono nude similar */
  padding: 50px 30px;
  text-align: center;
  max-width: 500px;
  margin: 50px auto;
  margin-top: 15%;
  color: #000000;
    font-family: 'Dancing Script', cursive;  
}
.margaritas{
width: 20%;
margin-top: -71%;
}
.margaritados{
width: 18%;
margin-top: -185%;
margin-left: 80%;
}
.video{
  margin-top: -2%;
 margin-left: 28%;
  border: 10px solid #fff2e4;
  border-radius: 5px;
  
}

.tituloh1{
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 19px;
  text-align: center;
 margin-top: 5%;
 background-color: #a48b70;
padding-top: 2%;
 }

.flor{
  width: 33%;
  margin-left: 35%;
  margin-top: 10%;
}
.fondo{
  width: 100%;
  margin-top: 10%;
}
.arrow span {
  margin-top: -50%;
  display: block;
  width: 14px;
  height: 14px;
  border-bottom: 5px solid rgb(234, 234, 234);
  border-right: 5px solid #8cac8e;
  transform: rotate(45deg);
  margin-left: 48%;
  animation: animate28797 2s infinite;
  }
  
  .arrow span:nth-child(2) {
  animation-delay: -0.2s;
  }
  
  .arrow span:nth-child(3) {
  animation-delay: -0.4s;
  }
  
  @keyframes animate28797 {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
  }


.linea4{
  margin-top: -5%;
  color: #dcdcdc;
}





.parrafo2{
  text-align: center;
  font-family: 'Dancing Script', cursive; 
  font-size: 24px;
  color: #ffffff;
  margin-top: 14%;
  font-weight: 580;
   
}


.florblanca{
width: 35%;
margin-left: 70%;
margin-top: -17%;
}

.principal{
  width: 100%;
  margin-top: -45%;
 
}
.calendario{
  width: 80%;
  margin-left: 10%;
  margin-top: 17%;
}

.gifuno {
    background-size: 10%;
  background-image: url(./imagenes/brillo.gif);
  margin-top: -10%;
}
.parrafo3{
  text-align: center;
  font-family: 'Dancing Script', cursive; 
  font-size: 24px;
  color: #414141;
 
  font-weight: 550;
}
.parrafo4{
  text-align: center;
 font-family: "Playfair Display", serif;
   font-size: 28px;
   color: #ffffff;
   font-weight: 500;
   margin-top: 20%;
   background-color: #d49c81;
   
}

}
.fiesta{
  text-align: center;
 font-family: "Playfair Display", serif;
   font-size: 28px;
   color: #ffffff;
   font-weight: 500;
   margin-top: 10%;
   background-color:#d49c81 ;
   
}
.ceremonia{
  text-align: center;
 font-family: "Playfair Display", serif;
   font-size: 28px;
   color: #ffffff;
   font-weight: 500;
   margin-top: 8%;
   background-color: #d49c81;
   
}
.regalo{
  text-align: center;
 font-family: "Playfair Display", serif;
   font-size: 28px;
   color: #ffffff;
   font-weight: 500;
   margin-top: 18%;
   background-color: #d49c81;
   
}

.asistencia{
  text-align: center;
 font-family: "Playfair Display", serif;
   font-size: 28px;
   color: #ffffff;
   font-weight: 500;
   margin-top: 10%;
   background-color:#d49c81 ;
   
}
.sobre{
  width: 17%;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}


.aita{
  width: 25%;
margin-left: -3% ;
}


.foco{
  width: 21%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -85px;   /* cuanto más negativo, más sube */
}


.vestimentaicon{
  width: 19%;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -140px;   /* cuanto más negativo, más sube */
}



.bola{
  width: 18%;
  display: block;
  margin: 0 auto;
  margin-top: -8%;
  transform: translateY(-50%);
}
.luciylola {
  width: 100%;
  margin-top: 15%;
}

.teespero{
  width: 38%;
  margin-top: -4%;
 display: block;
  margin: 0 auto;
}
.sport{
  width: 36%;
  margin-left: 35%;
 }

.cajados{
  background-color: #a48b70;
  padding: 5 5 ;
  margin-top: 8%;
}

.whatsap{
  width: 25%;

}
.aa{
  text-decoration: none;
}


.parrafoD{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 17px;
   color: #272727;
   font-weight: 500;
  
   
}


.primary1 {
  min-width: 130px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  padding: 7px 10px ;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color:#486055;
  margin-top: 5%;
  text-decoration: none;
  font-family: 'Julius Sans One', sans-serif;
  background-size: 220%;

  background-image: url(./imagenes/brillo.gif);
}
.primary2 {
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  min-width: 130px;
  height: 40px;
  color: #ffffff;
  padding: 7px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color:#d49c81;
  margin-top: 5%;
    background-image: url(./imagenes/brillo.gif);
  font-family: 'Julius Sans One', sans-serif;
  background-size: 45%;
}
.primary3 {
  text-decoration: none;
  text-align: center;
  min-width: 130px;
    font-size: 20px;
  height: 40px;
  color: #ffffff;
  padding: 7px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color:#d49c81;
  margin-top: 5%;
  background-image: url(./imagenes/brillo.gif);
  font-family: 'Julius Sans One', sans-serif;
  background-size: 45%;
}

.primary4 {
  text-decoration: none;
  text-align: center;
  min-width: 130px;
  height: 40px;
    font-size: 20px;
  color: #ffffff;
  padding: 7px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color:#797857;
  margin-top: 5%;
   background-image: url(./imagenes/brillo.gif);
  font-family: 'Julius Sans One', sans-serif;
  background-size: 45%;
}

.btn-playlist{
  min-width: 120px;
  height: 40px;
  color: #fff;
  padding: 8px 7px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #9a9a82;
  margin-top: 5%;
  text-decoration: none;
  background-image: url(./imagenes/brillo.gif);
  font-family: 'Julius Sans One', sans-serif;
  background-size: 45%;
  font-size: 15px;
}

.boton4{
  text-align: center;
}
.boton3{
  text-align: center;
}
.boton2{
  text-align: center;
}
.boton1{
  text-align: center;
}
.parrafo5{
   font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #414141;
  margin-top: -13%;
  text-align: center;
 
}

.confirmar{
 width: 38%;
 display: block;
  margin: 0 auto;
}
.vestimenta{
 width: 48%;
 display: block;
  margin: 0 auto;
  position: relative;
  top: -30px; 
}
.tips{
 width: 65%;
 display: block;
  margin: 0 auto;
  position: relative;
 
}
.carousel-item img{
  width: 90%;
  height: 450px;      /* ajustá según tu diseño */
  object-fit: contain;
  margin-left: 5%;
  background-color: #ffffff; /* opcional si querés fondo prolijo */
}

.mi-carousel-personalizado .carousel-inner img {
     width: 90% !important;
    height: 500px;           /* Ajusta la altura */
    object-fit: cover;       /* Recorta sin deformar */
    border: 2px solid #ffffff;
    margin-left:5%;
    margin-top: 14%;
}







.parrafovestimenta{
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #414141;
  margin-top: -50%;
  text-align: center;
}
.parrafoasistencia{
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #414141;
  margin-top: -4%;
  text-align: center;
}
.parrafoinfo{
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #414141;
  margin-top: -23%;
  text-align: center;
}

  
    .amor {
      width: 10%;
      margin-left: 45%;
      margin-top: 75%;
    }
      
      .preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f4eaf1;
        z-index: 9999;
      
      }
      
      .preloader::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        margin: -20px 0 0 -20px;
        border: 4px solid #76bac204; /* Color del círculo */
        border-top-color: transparent;
        border-radius: 50%;
        animation: spin 5s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      
      }
      
      .loaded {
        overflow: auto;
      }
      
      .loaded .preloader {
        transition-property: opacity, left;
        transition-duration: 0.98s, 0s;
        transition-delay: 0s, 0.98s;
        opacity: 0;
        left: 100%;
      }
  
.corazon{
 width: 12%;
 display: block;
  margin: 0 auto;

}
.musica{
 text-align: center;
  font-family: "Allura", cursive;
   font-size: 23px;
   color: #242424;
   font-weight: 500; 
   margin-top: 60%;
}
.parrafo6{
  text-align: center;
 font-family: "Playfair Display", serif;
   font-size: 20px;
   color: #ffffff;
   font-weight: 500;
   margin-top: 5%;
   
}
.parrafo7{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin-top: 5%;
  text-align: center;
}

.parrafo8{
    font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #414141;
  margin-top: 5%;
  text-align: center;
}
.parrafo9{
  text-align: center;
 font-family: "Playfair Display", serif;
   font-size: 23px;
  color:  #242424;
   font-weight: 500;
   margin-top: 10%;
}





.percha{
  width: 15%;
  margin-left: 43%;
  margin-top: 6%;
}

.cbu{
  width: 110%;
  margin-left: -3%;
  
}
.fraseregalo{
 width: 46%;
  margin-left: 28%;
  margin-top: -17%;
}

.coral-1{
  width: 25%;
  margin-left: -50%;
  margin-top: -2%;
}

.andres{
  width: 25%;
  margin-left: -50%;
}
.chat{
  width:20%;
    margin-left: 40%;
    margin-top: -5%;
  }

.linea-1{
  width: 60%;
  color: #414141;
  margin-left: 20%;
}
  .chat2{
    width:20%;
      margin-left: 40%;
      margin-top: -5%;
    }
  .a{
    text-decoration: none;
  }
 .Play{
  
    font-family: 'Julius Sans One', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: -10%;
    color: #424242;
    font-weight: 700;
   
   }
    h5{
    font-size: 15px;
    text-align: center;
    margin-top: -5%;
    
    
    }
  

.final{
 text-align: center;
  font-family: "Allura", cursive;
   font-size: 30px;
   color: #242424;
   font-weight: 500; 
   margin-top: 8%;
}

.faltan{
  text-align: center;
 font-family: "Playfair Display", serif;
   font-size: 21px;
   color: #242424;
   font-weight: 500; 
   margin-top: 8%;
}

.cajaaudio{
  margin-top: 5%;
}


.tecla {
  margin-top: -50%;
   margin-left: 50%;
  }
  
  
  .box__copyright {
    max-width: 1200px;
    padding: 18px 7px;
    text-align: center;
    margin-top: 10%;
    background-color: #ffffff;
    font-size: 100%;
  }
  
  .box__copyright p {
    margin-top: -10px;
    color: #cecdcd;
    font-size: 12px;
    text-align: center;
  }
  
  .box__copyright a {
    text-decoration: none;
    color: #bdc7bd;
  }





.logo{
width: 15%;
margin-left: 55%;
margin-top: 10%;
}


